/* mbase */
body {
	font-family: "Roboto", sans-serif;
	max-width: 1440px;
	background: #fff;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* header */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 72px;
}

.header-nav {
	display: flex;
	flex-direction: row;
}

.header-nav-link {
	margin-left: 156px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
}

.header-nav-link span {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.header .header-nav-list {
	display: flex;
	flex-direction: row;
	gap: 40px;
	margin-left: 76px;

}

.header .header-nav-list .header-nav-list-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.header-address {}

.header-address-list {
	display: flex;
	flex-direction: row;
}

.header-address-list-item {}

/* main */